:root {
    --lightest: #E6EDE6;
    --pale-rgb: 188, 226, 188;
    --pale: rgba(var(--pale-rgb), 1);
    --accent: #99CC99;
    --dark-muted: #213121;
    --dark: #1E2A1E;
    --darkets: #152015;
}

footer#custom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: calc(var(--gap) * 2);
}

footer#custom>a {
    color: var(--text-secondary);

}

@media (max-width: 768px) {
    footer#custom {
        top: 10px;
        bottom: auto;
    }

    section[data-replaced="main"] {
        height: 100dvh;
        justify-content: space-between;
    }

}
