@media (prefers-color-scheme: light) {
    :root {
        --card-color: var(--light-lavender);
        --card-border-color: var(--light-lavender);
        --card-border-color-active: var(--soft-purple);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-color: var();
        --card-border-color: var(--dark-plum);
        --card-border-color-active: var(--soft-purple);
    }

}

article {
    flex: 1;
    box-shadow: 0 0 0 var(--border) var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    transition:
        transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

article:hover {
    box-shadow: 0 0 0 calc(var(--border)*2) var(--border-color);
}

section>section:has(> article),
section>section:has(> a > article) {
    min-height: 0;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: auto;
}

section>section:has(> button) {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    flex-wrap: wrap;
}

section>section:has(> button)>* {
    flex: 1;
    white-space: nowrap;
}

@media (max-width: 1000px) {

    section>section:has(> article),
    section>section:has(> a > article) {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    section>section:has(> article),
    section>section:has(> a > article) {
        grid-template-columns: repeat(1, 1fr);
    }
}